# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
env/
.venv/

# Environment variables (API keys)
.env

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# FastAPI cache
*.sqlite3

# Uploaded files (if you add later)
uploads/
static/uploads/

# Test cache
.pytest_cache/
